@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  cursor: url('resources/mouse.png'), auto;
}
*:active {
  cursor: url('resources/mouse click.png'), auto;
}
body, html {
  display: flex;  /*lo pusimos para ver si podiamos ponerle height a tarjetas*/
  flex-direction: column; 
  background: #f7f8f8;
  
}
/* Todo lo del Header */
header {
  width: 100%;
  height: 130px;
  background: #91d3e3;
  display: flex;
  flex-direction: row;
  align-items: center;
  /*position: relative;*/
}
#headerMainCont {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#headerMainCont div {
  display: flex;
  flex-direction: row;
}
#headerLogo {
  height: 110px;
  width: 110px;
  margin-left: 15px;
}
#pageName {
  display: flex;
  flex-wrap: wrap;
  font-size: 80px;
  color: white;
  text-shadow: 2px 2px 5px #6bafbf;
}
#btnAboutPageCont {
  display: flex;
  align-items: center;
 margin-right: 15px;
}
#btnAboutPage {
  background: #f4fbfb;
  height: 50px;
  border:none;
  border-radius: 5px;
  padding: 15px;
  box-shadow: inset 0 0 0 0 #54b3d6;
}
#btnAboutPage:hover {
  box-shadow: inset 100px 0 0 0 #54b3d6;
  color: white;
}
/* Todo lo de Introducción */ 
 .introduction{
   display: flex;
   flex-direction:row;
   align-content: center;
   flex-wrap: wrap;
   width: 100%;
   height: 50%;
   background: #c5dce2;
 }
.introduction div{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}
.introduction h3{
  padding: 20px;
  display: flex;
  flex-flow: wrap;
  color: #292929;
}
.introduction p{
  font-size:calc(8px + 1vw);
  display: flex;
  text-align: center;
  align-items: center;
}
#textIntroduction {
  display:flex ;
  flex-wrap: wrap;
  width: 60%;
  padding: 10%
}
#imageIntroduction {
  display:flex ;
  width: 40%;
}
#imageIntroduction img {
  width: 100%;
  height:100%; 
  border: 0;
}
/* Botón ver peliculas */
#btnShowMovies {
  margin: auto;
}
#btnShowMovies button {
  width: 300px;
  height: 60px;
  margin: 20px;
  font-size: 23px;
  border: #6bafbf;
  background: #89c8d7;
  border-radius: 5px;
  color: #121212;
  box-shadow: 5px 5px #c7c7c7
}
#btnShowMovies :hover {
  box-shadow: inset 300px 0 0 0 #54b3d6;
  color: white;
}
/* Barra de filtros */ 
#filterCont {
  display: none;
}
#filterCont {
  width: 90%;
  height: 60px;
  padding: 5px;
  background: #91d3e3;
  border-radius: 5px;
  margin: auto;
  margin-bottom: 10px;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  gap: 10px;
}
.filterInput {
  background: #fafdff;
  border-radius: 3px;
  border: none;
  width: 10%;
}
#showAllCardsCont {
  width: 8%;
}
#showAllCards {
  width: 100%;
  background: #fafdff;
  border-radius: 3px;
  border: solid white;
}
/* Tarjetas de las películas */ 
#filmsCont{
  display: none;
}
#filmsCont{
  background-color: #cde4ea;
  width: 90%;
  padding: 20px;
  border-radius: 5px;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
  margin: auto;
}
.filmCards {
  background-color: #ffffff;
  border: 0;
  border-radius: 10px;
  box-shadow: 2px 2px 10px lightgray;
  height: 450px;
  width: 350px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
.filmTitles {
  background-color: #91d3e3;
  border-radius: 10px;
  box-shadow: 2px 2px 10px lightgray;
  width: 200px;
  height: 50px;
  border: 0;
  display: flex;
  align-items: center;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-content: center;
}
.filmPosters{
  width: 200px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
}
.filmPosters img:hover{
  transform: scale(1.2);
  box-shadow: 5px 5px 10px gray;
  transition-duration: 1s;  
}
 .filmPosters img{
   width: 100%;
   height: 100%;
   display: flex;
   flex-wrap: wrap;
 }
/* Todo lo de footer */
footer {
  width: 100%;
  height: 9%;
  background: #91d3e3;
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 0;
  margin-top: 10px;
}
#footerLogo {
  height: 60px;
  width: 60px;
  margin: 2px;
}
footer h2 {
  font-size: 15px;
  color: white;
  padding-bottom: 5px;
}
/* Todo lo de PopUp*/
#btnCloseCont {
 display: flex;
justify-content: flex-end;
 }
#btnClosePopUp{
  background: white;
  width: 5%;
  height: 30px;
  border: none;
  border-radius: 10px;
}
#btnClosePopUp:hover {
  box-shadow: inset 300px 0 0 0 #54b3d6;
  color: white;
}

/*Todo lo de Card Info */
dialog {
  margin: auto;
  border: 0;
  width: 90%;
  height: 90%;
  border-radius: 6px;
}
/*Contenedor Principal Card Info */
#filmsDetail {
  width: 100%;
  height: 100%;
  background: #c5dce2;
  border: solid white;
  border-radius: 10px;
  display: flex;
  padding: 25px;
  margin: auto;
  flex-direction: column;
  gap: 4px;
}
#detailHead {
  width: 100%;
  height: 50%;
  display:flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap:wrap;
  }
#detailHead div{
  display: flex;
  flex-direction: column;
  height: 100%;
}
.filmInfoPosters{
  width: 15%;
  height: 100%;
}
.filmInfoPosters img{
  width:100%;
  height:100%;
}
.textInfo{
  width: 85%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 25px;
  margin-top: 0;
}
.textInfo h4 {
  font-size: calc(10px + 1vw);
  padding: 10px;
  display: flex;
  justify-content: center;
}
.textInfo p{
  font-size: calc(5px + 1vw);
  padding: 10px;
  display: flex;
  justify-content: center;
}
.textInfo ul{
  font-size: calc(4px + 1vw);
  padding: 10px;  
}
/*Contenedor Body Categories*/
.bodyCategories {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}
.bodyCategories h5{
  font-size: 20px;
  border: solid #ffffff;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 45px;
  border-top-left-radius: 20px ;
  border-top-right-radius: 20px ;
}
/*Contenedor Characters*/
#detailBody{
  width: 100%;
  height: 70%;
  padding: 5px;
  display:flex;
  gap: 20px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  border: 0;
  margin-top: 0;
  overflow-y: auto;
}
.charInfo {
  background: #dae9ec;
  padding: 15px;
  width: 18%;
  height: 350px;
  border: 0;
  border-radius: 15px;
}
.charImg {
  border: 0;
  width: 170px;
  height: 170px;
  margin: auto;
  padding-bottom: 10px;
}
.charImg img {
  width: 100%;
  height: 100%;
  border-radius: 2px;
}
.charInfo .charText {
  padding: 10px;
  border: 0;
  display: flex;
}

#vehInfo{
  display: none;
}
#vehInfo {
  width: 100%;
  height: 70%;
  padding: 5px;
  gap: 20px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border: 0;
  margin-top: 0;
  overflow-y: auto;                                                         
}
.vehInfo {
  background: #dae9ec;
  padding: 15px;
  width: 18%;
  height: 350px;
  border: 0;
  border-radius: 15px;
}
.vehImg {
   border: 0;
  width: 170px;
  height: 170px;
  margin: auto;
  padding-bottom: 10px;
}
.vehImg img {
  width: 100%;
  height: 100%;
  border-radius: 2px;
}
.vehInfo .vehText {
  padding: 10px;
  border: 0;
  display: flex;
}
#locInfo {
  width: 100%;
  height: 70%;
  padding: 5px;
  display:none;
  gap: 20px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border: 0;
  margin-top: 0;
  overflow-y: auto;
}
.locInfo {
  background: #dae9ec;
  padding: 15px;
  width: 18%;
  height: 350px;
  border: 0;
  border-radius: 15px;
}
.locImg {
  border: 0;
  width: 170px;
  height: 170px;
  margin: auto;
  padding-bottom: 10px;
}
.locImg img {
  width: 100%;
  height: 100%;
  border-radius: 2px;
}
.locInfo .locText {
  padding: 10px;
  border: 0;
  display: flex;
}
/* Ventana modal cuando no hay info */
.noInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.noInfo p{
  font-weight: 700;
}

/*Responsive phone*/
/*@media (max-width: 480px){
  
}

/*Responsive Tablet*/
/*@media (max-width: 768px){
  
}*/